---
layout: default
title: Home
---
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>

<link rel="stylesheet" href="/assets/css/home.css">

<div class="landing">
  <div class="landing__text">
    <p class="landing__flavor">
      one year on the road</br>
      two kids with a dream
    </p>
    <p class="landing__names">
      joel &#38; marisa
    </p>
  </div>
</div>

<div class="about container">
  <h2 class="about__flavor">
    "road trippin'<br>
    in our 1980<br>
    self-renovated<br>
    tiny home trailer"
  </h2>
  <p class="about__description">
    Just two 21 year old enviromentally conscious kids road trippin' around the US, in our 1980 self-renovated tiny home trailer! For one full year we will be seeing as many beautiful sites as we can in this sublime part of the world.
  </p>
  <a href='about.html' class="button-link">
    Read our full story
  </a>
</div>

<div class="featured container container--secondary">
  <h2 class="featured__title">
    popular posts
  </h2>
  <ul class="featured__posts">
    {% assign posts-featured = site.posts | where: "featured", "true" %}
    {% for post in posts-featured %}
      <li class="featured__post"><a href="{{post.url}}">
        {% if post.landing %}
          <img src="assets/media/{{post.landing}}" alt="Landing image."></img>
        {% endif %}
        <h4>{{post.title}}</h4>
        <p>{{post.excerpt}}</p><--todo: fikter excerpt to be plain text not html so headers dont style -->
      </a></li>
    {% endfor %}
  </ul>
  <a href="blog/featured.html" class="button-cta button-cta--secondary">
    see all posts
  </a>
</div>

<div id="eco" class="eco container">
  <h2>eco-life</h2>
  <div class="eco__info">
    <svg></svg>
    <p>This is some text about us being super eco and all that so yaahhh.</p>
  </div>
  <ul class="eco__posts">
    {% assign posts-eco = site.posts | where: "category", "eco"%} 
    {% for post in posts-eco %}
      <li class="eco__post">
        <h4>{{post.title}}</h4>
      </li>
    {% endfor %}
  </ul>
  <a href="blog/eco.html" class="button-cta">see all eco-posts</a>
</div>

<div id="categories" class="container container--secondary">
  <h2>categories</h2>
  <a href="blog.html" class="button-cta button-cta--secondary">see all categories</a>
</div>
