@font-face { font-family: Fugaz; src: url(/assets/fonts/FugazOne-Regular.ttf); }

h1 { font-size: 32px; font-family: Fugaz; }

h2 { font-size: 24px; font-family: Fugaz; }

h3 { font-size: 18px; font-family: Fugaz; }

h4 { font-size: 24px; font-family: Fugaz; }

h6, button { font-size: 18px; font-family: "Open Sans"; }

p { font-size: 18px; font-family: "Open Sans"; font-weight: lighter; }

li { font-size: 16px; font-family: "Open Sans"; font-weight: lighter; }

hr { border: none; border-top: 1px solid #EEE0CB; width: 100%; }

div.theme--primary { background-color: #648D64; color: #f3e9db; }

div.theme--primary blockquote { background-color: #EEE0CB; color: #466346; }

div.theme--primary > section.well { border-top: 1px solid #93af93; border-bottom: 1px solid #93af93; }

div.theme--primary button.primary { background-color: #EEE0CB; border: #a79d8e; color: #466346; }

div.theme--primary button.secondary { color: #f3e9db; }

div.theme--primary article.card { background-color: #f3e9db; color: #466346; }

div.theme--primary div.icon-circle { background-color: #EEE0CB; color: #93af93; }

div.theme--secondary { background-color: #EEE0CB; color: #466346; }

div.theme--secondary h2 { color: #466346; }

div.theme--secondary > section.well { border-top: 1px solid #93af93; border-bottom: 1px solid #93af93; }

div.theme--secondary > section.quote { background-color: #648D64; color: #f3e9db; }

div.theme--secondary > button.primary { background-color: #648D64; border: #466346; color: #f3e9db; }

div.theme--secondary > button.secondary { color: #466346; }

div.theme--secondary article.card { background-color: #f3e9db; color: #466346; }

div.theme--secondary div.icon-circle { background-color: #648D64; color: #f3e9db; }

.post-card { text-decoration: none; }

.post-card__img_area > img { background-color: green; border-radius: 3px 3px 0 0; }

.post-card__title { color: #111111; padding: 6px 12px; box-sizing: border-box; position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); width: 100%; background: rgba(255, 255, 255, 0.6); }

.post-item { display: grid; grid-template-columns: 2fr 3fr; text-decoration: none; }

.post-item__media { display: flex; flex: 1; background-color: #466346; border-radius: 3px 0 0 3px; }

.post-item__media > svg { color: #93af93; padding: 8px; box-sizing: border-box; fill: #93af93; }

.post-item__media > img { border-radius: 3px 0 0 3px; }

.post-item__meta { color: inherit; flex: 3; border-radius: 0 3px 3px 0; }

.post-recipie { text-decoration: none; font-size: 24px; height: 100%; box-sizing: border-box; }

.post-recipie__img { box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }

.post-recipie svg { fill: #648D64; }

.content { margin: 0; }

.landing { height: 592px; display: flex; justify-content: center; align-items: center; background-color: darkgreen; background-image: url("/assets/images/landing-drone.jpg"); background-repeat: no-repeat; background-size: cover; position: relative; z-index: -1; }

.landing-text { color: white; text-align: center; }

.landing-text p { font-family: Fugaz; padding: 8px; margin: 0; }

.landing-text-flavor { font-size: 32px; }

.landing-text-names { font-size: 24px; opacity: 70%; }

.about { background-color: #648D64; text-align: center; }

.about__flavor { padding: 16px; margin: 0 32px; background-color: #EEE0CB; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); font-size: 24px; font-family: Fugaz; color: #111111; }

.about-description { margin: 8px 0; color: #EEE0CB; }

.about-link { margin: 8px 0; }

.about-link a { color: #EEE0CB; }

.eco { text-align: center; }

.eco__title { display: inline; color: #F4F0EA; }

.eco__message { border-top: 1px solid #466346; border-bottom: 1px solid #466346; display: flex; min-height: 240px; flex-direction: vertical; align-items: center; justify-content: center; }

.eco__message > p { padding: 0 16px; z-index: 1; }

.eco__message > svg { fill: #466346; position: absolute; }

/*# sourceMappingURL=home.css.map */