---
---
@import "fonts"
@import "variables"
@import "mixins/buttons"

.landing
  height: 592px
  display: flex
  justify-content: center
  align-items: center
  background-color: darkgreen
  background-image: url("/assets/images/landing-drone.jpg")
  background-repeat: no-repeat
  background-size: cover
  position: relative
  z-index: -1
  
  &__text
    color: white
    text-align: center

  &__flavor 
    font-family: Fugaz
    padding: $space-sm
    margin: 0
    font-size: 32px

  &__names
    font-size: 24px
    opacity: 70%
    font-family: Fugaz

.about
  text-align: center
  
  &__flavor
    background-color: $secondary
    box-shadow: $shadow-4dp
    padding: $space-md $space-lg
    margin: auto

  &__description
    align-self: center
  
.featured
  &__posts
    display: grid
    row-gap: 16px

  &__post
    border-radius: 3px
    box-shadow: $shadow-2dp
    background-color: $white
    border-bottom: 4px solid $secondary
    padding: 0
    & img
      border-radius: 3px 3px 0 0
      width: 100%
      height: 100%
    & h4
      color: $gray
      padding: $space-xs 0
    & p
      color: $gray
      background-color: $white

@media screen and (max-width: $bkpt-tb) and (orientation: landscape)
  .about
    grid-template-columns: 1fr 1fr

    &__link
      grid-column: 1 / span 2
